@charset "UTF-8";
/* CSS Document */

/* Font */

body {
	font-family: |FONTFAMILY1| /* FONTFAMILY1*/;
	font-size:|FONTSIZE1| /* FONTSIZE1 */;	
}

@font-face {
    font-family: '|FONTFAMILY1|' /* FONTFAMILY1*/;
    src: url('/e/bootstrap/fonts/Gotham-Book.eot') /* FONTSOURCE1 */;
    src: url('/e/bootstrap/fonts/Gotham-Book.eot') format('embedded-opentype') /* FONTSOURCE1 */,
         url('/e/bootstrap/fonts/Gotham-Book.woff2') format('woff2')/* FONTSOURCE1 */,
         url('/e/bootstrap/fonts/Gotham-Book.woff') format('woff')/* FONTSOURCE1 */,
         url('/e/bootstrap/fonts/Gotham-Book.ttf') format('truetype')/* FONTSOURCE1 */,
         url('/e/bootstrap/fonts/Gotham-Book.svg#|FONTFAMILY1|') format('svg')/* FONTSOURCE1 */;
}

@font-face {
    font-family: '|FONTFAMILY1|' /* FONTFAMILY1*/;
    src: url('/e/bootstrap/fonts/|FONTSOURCE2|.eot')/* FONTSOURCE2 */;
    src: url('/e/bootstrap/fonts/|FONTSOURCE2|.eot') format('embedded-opentype') /* FONTSOURCE2 */,
         url('/e/bootstrap/fonts/|FONTSOURCE2|.woff2') format('woff2') /* FONTSOURCE2 */,
         url('/e/bootstrap/fonts/|FONTSOURCE2|.woff') format('woff') /* FONTSOURCE2 */,
         url('/e/bootstrap/fonts/|FONTSOURCE2|.ttf') format('truetype') /* FONTSOURCE2 */,
         url('/e/bootstrap/fonts/|FONTSOURCE2|.svg#|FONTFAMILY1|') format('svg') /* FONTSOURCE2 */ /* FONTFAMILY1*/;
	font-weight:bold;
}

h1 {
	font-size:|FONTSIZE2| /*FONTSIZE2*/;	
}

* a, a:hover, a:focus, .btn-link {
	color:|COLOR1| /* COLOR1 */;
}

#avatar a.dropdown-toggle img {
	display:none;;
}

#avatar a.dropdown-toggle:before {
	content:"\e008";
	font-family:"Glyphicons Halflings";	
	line-height:1;
	display:inline-block;
	font-size:29px;
}

/* Buttons */

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color:|COLOR1| /* COLOR1 */;		
	border-color:|COLOR1| /* COLOR1 */;
	color:|COLOR5| /* COLOR5 */;
}

.see_details_text span.glyphicon,
#offer_table tr td:last-child span.glyphicon {
	display:|OFFERARROW| /* OFFERARROW */;	
}

#desktop_search .btn,
#mobile_search .btn {
	background-color:|COLOR2| /* COLOR2 */;	
	border-color:|COLOR2| /* COLOR2 */;
	color:|COLOR7| /* COLOR7 */;
}

.navbar-nav > li > a {
	text-transform:none /* FONTCASE1 */;
	color:|COLOR2| /* COLOR2 */;
	font-weight:|FONTWEIGHT1| /* FONTWEIGHT1 */;	
	font-size:1em /*FONTSIZE3*/;	
}

.navbar-nav.navbar-right > li > a {
	color:|COLOR1| /* COLOR1 */;
}

#top_links .dropdown-menu>li>a:hover, #top_links .dropdown-menu>li>a:focus {
	background-color:|COLOR1| /* COLOR1 */;	
	color:|COLOR5| /* COLOR5 */;	
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,
#avatar .dropdown-menu>li>a:hover, #avatar .dropdown-menu>li>a:focus {
	background-color:|COLOR2| /* COLOR2 */;
	color:|COLOR7| /* COLOR7 */;	
}

/* Input Fields */

input.form-control, #srch-zip {
	background-color:|COLOR3| /* COLOR3 */;
	border-color:|COLOR3| /* COLOR3 */;
}

.modal-header img {
	max-height:60px;	
}

/* Logo */

.navbar-brand img {
	max-height:75px;
	max-width:103px;	
}

/* Featured Offers */

#featured a.offer-imageLink {
	color:|COLOR4| /* COLOR2 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

.bx-wrapper .slide span.percent_amt {
	height:30px;	
}


/* Panels */


#side_nav, #featured, #top_retailers {
	border: |BORDERWIDTH1|  /* BORDERWIDTH1 */;	}

#featured .panel-heading,
#top_retailers .panel-heading {
	padding-left:|INDENT| /* INDENT */;	
	background-color:#FFF;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;
	border-color:#dddddd;
}
#offer_table thead>tr>th, .panel-default>.panel-heading,
#top_retailers thead>tr>th, .panel-default>.panel-heading {
	border-width:|BORDERWIDTH2| /* BORDERWIDTH2 */;	
}

#featured .panel-heading h5,
#top_retailers .panel-heading h5 {
	color:|COLOR2| /* COLOR2 */;	
}

/* Off Canvas */

.navbar-toggle .icon-bar {
	background-color:|COLOR2| /* COLOR2 */;
}

.offcanvas {
	border-color:|COLOR6| /* COLOR6 */;	
}

.offcanvas .navmenu-brand {
	color:|COLOR7| /* COLOR7 */;		
}

.offcanvas,
.offcanvas .dropdown-menu  {
	background-color:|COLOR2| /* COLOR2 */ !important;
}

.offcanvas .navmenu-nav>li>a,
.offcanvas .navmenu-nav>li>a:hover,
.offcanvas .navmenu-nav>li>a:focus,
.offcanvas .navmenu-nav>li.open>a {
	color:|COLOR7| /* COLOR7 */ !important;
	background-color:|COLOR2| /* COLOR2 */ !important;
	border-bottom:1px solid |COLOR6| /* COLOR6 */;
}

.navmenu-default .navmenu-nav>.dropdown>a .caret {
	border-top-color:|COLOR7| /* COLOR2 */ !important;	
	border-bottom-color:|COLOR7| /* COLOR2 */ !important;	
}

/* Left Nav */

#side_nav h5 {
	color:|COLOR2| /* COLOR2 */;	
}

#side_nav .panel-body .nav>li>a {
	
}

#side_nav .panel-body {
	padding-left:|INDENT| /* INDENT */;	}
	
#side_nav .panel-body .nav>li>a:focus {
	background:#FFF;
}

/* Carousel */

.carousel-caption {
	color:|COLOR4| /* |COLOR4| */
}
	
/* Product Filters */

#product_list ul li label {
	font-weight:	|FONTWEIGHT1| /* FONTWEIGHT1 */;	
}

#product_list h5 {
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

#product_list p a {
	color:|COLOR6| /* COLOR6 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

/* Activate Offers */

button.activated {
	border-color:|COLOR1| /* COLOR1 */;
	color:|COLOR1| /* COLOR1 */;
}

/* Radio Buttons */

input.css-checkbox[type="radio"]:checked + label.css-label {
	background-color:|COLOR1| /* COLOR1 */;	
}

label.css-label {
	border-color:|COLOR1| /* COLOR1 */;		
}

/* Dropdown Default BG */

#category_dropdown .btn {
	background-color:|COLOR2| /* COLOR2 */;	
	border-color:|COLOR2| /* COLOR2 */;
	color:|COLOR7| /* COLOR7 */;
}

.selectboxit-default-arrow {
	border-top:8px solid |COLOR7| /* COLOR7 */;
}

.selectboxit-btn {
	background-color:|COLOR2| /* COLOR2 */;	
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
	background-color:|COLOR2| /* COLOR2 */;	
}

/* Dropdowns White BG */

.selectboxit-container .selectboxit {
	color:|COLOR7| /* COLOR7 */;
}

.selectboxit-container .selectboxit.white {
	color:|COLOR1| /* COLOR1 */;
}

.selectboxit-btn.white {
	border-color:|COLOR1| /* COLOR1 */;	
}

.white .selectboxit-default-arrow {
	border-top:8px solid |COLOR1| /* COLOR1 */;	
}


/* View All Retailers */

ul.retailers_list li a  {
	xcolor:|COLOR4| /* COLOR2 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

/* Offer Tables */

#offer_table thead>tr>th {
	border-color:#DDDDDD;	
	border-width:|BORDERWIDTH2| /* BORDERWIDTH2 */;
}

#offer_table thead th a {
	color:|COLOR1| /* COLOR1 */;	
}

#offer_table td a, #offer_table th a {
	color:|COLOR1| /* COLOR1 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

#offer_pagination a.showmore {
	background-color:|COLOR1| /* COLOR1 */;
	color:|COLOR5| /*COLOR5*/;	
}

#offer_pagination .small a {
	color:|COLOR4| /* COLOR4 */;	
}

#offer_pagination .glyphicon, #offer_pagination .glyphicon:hover {
	background-color:|COLOR1| /* COLOR1 */ !important;	
	border-color:|COLOR1| /* COLOR1 */;
	color:|COLOR5| /* COLOR5 */;
}

#offer_pagination a,
#offer_pagination a:hover {
	color:|COLOR1| /* COLOR1 */;
}

/* Earn Summary */

ul#summary_tabs, ul#summary_tabs li.active a {
	border-color:|COLOR6| /* COLOR6 */;	
}

#redemption a, #earn a {
	color:|COLOR6| /* COLOR6 */;		
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}


/* Footer */

footer {
	background:|COLOR2| /* COLOR2 */;
}

footer ul li a,
footer ul li a:hover,
footer ul li a:focus {
	color:|COLOR7|/* COLOR7 */;	
}

footer ul li.divider {
	color:|COLOR6| /* COLOR6 */;
}

@media (max-width: 990px) {
	.navbar-brand img {
		max-height:53px;	
	}
}

@media (min-width:769px) {
	footer #footer-links {
	border-bottom:1px solid |COLOR6| /* COLOR6 */;
	margin-bottom:10px;	
}	
}

@media (max-width: 767px) {
	footer ul li a {
		border-bottom:1px solid |COLOR6| /* COLOR6 */;	
	}
	footer #copyright {
		color:|COLOR7|/* COLOR7 */;	
	}
}
